<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="py-3 px-6">
                Nome
            </th>
            <th scope="col" class="py-3 px-6">
                Descrição
            </th>
            <th scope="col" class="py-3 px-6">
                Nome do tutor
            </th>
        </tr>
    </thead>
    <tbody>
        <% @gatos.each do |c|%>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= c.nome %>
                </th>
                <td class="py-4 px-6">
                    <%= c.descricao %>
                </td>
                <td class="py-4 px-6">
                    <%= c.tutor.nome %>
                </td>
                <td class="py-4 px-6">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><%= link_to 'Editar animal', edit_animal_path(c) %></a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>