<h1>Editing Consulta Medicamento</h1>

<%= render 'form', consulta_medicamento: @consulta_medicamento %>

<%= link_to 'Show', @consulta_medicamento %> |
<%= link_to 'Back', consulta_medicamentos_path %>
